/* */
/* Palette */
.inverse {
  background-color: #222;
  color: white;
}
.inverse .logotype {
  background-image: url('../images/monospace_white.svg');
}
/* Mixins */
.centered {
  text-align: center;
}
.padded {
  padding: 50px;
}
.btn {
  background: none;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: 400;
}
.btn a {
  color: #333;
  text-decoration: none;
}
.btn:hover {
  background-color: #222;
  color: white;
}
.btn:hover .logotype {
  background-image: url('../images/monospace_white.svg');
}
/* Styles */
.header {
  padding-top: 100px;
  padding-bottom: 60px;
}
a {
  text-decoration: none;
}
/* Logo */
.logotype {
  background-image: url('../images/monospace.svg');
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Isotope */
#isotope {
  margin: 50px 0px 100px 15px;
}
#isotope .post {
  overflow: hidden;
  padding-left: 0px;
}
#isotope .thumbnail {
  padding: 0px;
  background-color: #222;
  border: 0px;
  border-radius: 0px;
}
#isotope .thumbnail img {
  width: 100%;
}
#isotope .item.w2 {
  width: 50%;
}
/* Pagination */
.pagination a {
  padding: 10px;
  color: #333;
  text-decoration: none;
  background: none;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: 400;
}
.pagination a a {
  color: #333;
  text-decoration: none;
}
.pagination a:hover {
  background-color: #222;
  color: white;
}
.pagination a:hover .logotype {
  background-image: url('../images/monospace_white.svg');
}
/* Panels */
.tag {
  position: absolute;
  bottom: 50px;
  left: 0px;
  background: white;
  padding: 10px 20px;
  color: #222;
  /* */
  text-transform: uppercase;
  font-size: 11px;
}
